In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
# Setup excel file path & postgres URI
path = "G:\My Drive\Personal Finance Dashboard.xlsx"
connection = "postgresql://postgres:PGPassword001@localhost/personal_datasets"

In [12]:
# Setup function
def get_index(df, column_name, index_value):
  """Returns the first result of a row that contains a specific value as index.

  Args:
    df: A Pandas DataFrame.
    column_name: The column to search
    index_value: The value to search

  Returns:
    The first result of the row that contains the index_value, or None if no such row is found.
  """

  row = df.loc[df[column_name] == index_value]
  if row.empty:
    return None
  else:
    return row.index[0]

In [13]:
# Create a dataframe from excel file
df = pd.read_excel(path,["Transactions - Daily","Net Worth"])

c:\Users\Keanu\.virtualenvs\excel_to_psql-LYsHTVHz\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\Keanu\.virtualenvs\excel_to_psql-LYsHTVHz\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [14]:
for sheets in df:
    # Remove null rows
    df[sheets] = df[sheets].dropna(axis = 0, how='all', ignore_index = True)

    # Replace col headers based on get_index result
    col_header = get_index(df[sheets],"Unnamed: 0","Date")
    df[sheets] = df[sheets].rename(columns=df[sheets].iloc[col_header])
    df[sheets] = df[sheets].drop(df[sheets].index[col_header]).reset_index(drop=True)
    df[sheets] = df[sheets].convert_dtypes()
    datatypes = df[sheets].info()
    print (datatypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         83 non-null     datetime64[ns]
 1   Transaction  17 non-null     string
 2   Amounts      83 non-null     Float64
 3   Type         83 non-null     string
 4   SubCategory  83 non-null     string
 5   Need/Want    34 non-null     string
 6   Notes        26 non-null     string
dtypes: Float64(1), datetime64[ns](1), string(5)
memory usage: 4.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             119 non-null    datetime64[ns]
 1   Asset/Liability  119 non-null    string
 2   Category         119 non-null    string
 3   SubCategory      84 non-null     string
 4   Amount           119 non-null    Float64
 5   Remarks          21 non-null     string
dtypes: Float64(1), datetime64[ns](1), string(4)
memory usage: 5.8 KB
None

In [15]:
income_statement = df["Transactions - Daily"]
balance_sheet = df["Net Worth"]

income_statement

,Date,Transaction,Amounts,Type,SubCategory,Need/Want,Notes
0,2023-03-31,<NA>,3000.0,Expense,Utilities,Need,<NA>
1,2023-03-31,<NA>,1000.0,Expense,PAG-IBIG MP2,Need,<NA>
2,2023-03-31,<NA>,20000.0,Income,Salary,<NA>,<NA>
3,2023-03-31,<NA>,3000.0,Income,Interest Income (Loans),<NA>,<NA>
4,2023-04-01,Recon,125.0,Expense,Food,Want,<NA>
...,...,...,...,...,...,...,...
78,2023-10-04,<NA>,200.0,Expense,Food,<NA>,advanced withdraw
79,2023-10-04,<NA>,259.0,Expense,Others,<NA>,Gomo
80,2023-10-06,<NA>,16662.0,Income,Bonus,<NA>,<NA>
81,2023-10-06,<NA>,586.0,Expense,Deliver,<NA>,<NA>
82,2023-10-07,<NA>,144.0,Expense,Food,<NA>,<NA>

In [16]:
# Connect to PostgreSQL

db = create_engine(connection)
conn = db.connect

In [17]:
# Import dataframes to PostgreSQL
income_statement.to_sql("income_statement_accounts", con=db.engine, if_exists='replace', index=False)
balance_sheet.to_sql("balance_sheet_accounts", con=db.engine, if_exists='replace', index=False)

119